// Specific CSS for your home-page

body {
  background-color: black;
  color: white !important;
}

.main-container {
  margin:20px;
}

.top-info {
  display: flex;
  justify-content: space-between;
  width: auto;
}

.main-image {
  width:  50%;
  height: auto;
  object-fit: contain;
}

.main-description {
  width:  50%;
  height: auto;
}

.middle-info {
  display:flex;
  justify-content: space-between;
  width: auto;
}

.results-area {
  display: flex;
  flex-direction: column;
}

.filter-area {

}

.numeric-results {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
}

.buttons-area {
  display:flex;
  justify-content: space-between;
  width: auto;
}
