<footer id="footer">
  <div class="container">
    <div class="footer-top">
        <ul class="row align-items-center justify-content-center list-inline">
          <li><a class= "p-3 m-3" href="#">Devenir membre</a></li>
          <li><a class= "p-3 m-3" href="#">Devenir parrain</a></li>
          <li><a class= "p-3 m-3" href="#">Faire un don</a></li>
        </ul>
    </div>

    <div class="legal">
      <ul class="row align-items-center justify-content-center list-inline">
        <li>
          <a class="fr-footer__bottom-link p-3 m-3"><%= link_to "Mentions légales", legalspecs_path %></a>
        </li>
        <li>
          <a class="fr-footer__bottom-link p-3 m-3"><%= link_to "Politique de confidentialité", persospecs_path %></a>
        </li>
        <li>
          <a class="fr-footer__bottom-link p-3 m-3"><%= link_to "CGU", cgu_path %></a>
        </li>
        <li>
          <a class="fr-footer__bottom-link p-3 m-3" href="#">Gestion des cookies</a>
        </li>
      </ul>
    </div>

    <div class="copyright">
      &copy;  Erwin Rates ® 2021 | Tous droits réservés
    </div>

    <div class="credits">
      Créé avec amour avec <i class="fas fa-heart"></i>
      <a href="https://www.lewagon.com/fr" target="_blank">Le Wagon</a>
    </div>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>