<div id="main-container">
  <div>
    <h1>Conditions d'utilisation du site Erwinrates.fr</h1>
  </div>

  <div>
    <p>
      <strong>
      "Ce site est détenu, géré et publié par Erwin Rates ®. 
      Veuillez lire attentivement les conditions générales suivantes. 
      En entrant sur le site, vous acceptez d'être lié par les conditions
      suivantes."
      </strong>
    </p>

    <h3>Concept</h3>
    
    <p>
      "Un vrai parcours du combattant pour tous les freelances qui sortent du Wagon 
      et qui ne connaissent pas leur valeur sur le marché de l'emploi. 
      En 2021, chercher son TJM en tant que freelance est toujours un calvaire. 
      En effet, beaucoup de freelances ont peur d'afficher un prix élevé, 
      peur de manquer des contrats et acceptent des missions sous-payées.
      En réalité sur un TJM, le freelance doit y déduire diverses taxes 
      et frais avant d'obtenir le réel montant qu'il touchera réellement.
    </p>

    <p>
      "Nous nous sommes donc donner comme objectif de changer tout cela 
      chez Erwin Rates. Notre mission est de vous offrir les informations 
      dont vous avez besoin pour avoir le meilleur TJM selon votre profil."
    </p>

    <h3>Droits de propriété intellectuelle sur le contenu du site</h3>

    <p>
      "Tout le matériel sur le site, tel que le texte, les graphiques, 
      les logos, les icônes de boutons, les images et les logiciels, 
      appartiennent à Erwin Rates ® et est protégé par les lois sur le 
      droit d'auteur et les marques de commerce. Vous ne pouvez pas copier, 
      reproduire, transmettre ou distribuer de quelque manière que ce soit 
      tout matériel de ce site, y compris le code et le logiciel sous-jacents, 
      sauf dans les cas autorisés par le présent accord. Vous n'êtes autorisé 
      à utiliser le site et son contenu que pour votre usage personnel et non 
      commercial. Cela revient à consulter le site et à imprimer des pages ou 
      des sections individuelles pour un usage personnel. "
    </p>

    <h3>Garantie et accessibilité au service</h3>

    <p>
      "Nous mettons en œuvre tous les moyens disponibles afin d’offrir aux
       utilisateurs du site Erwin Rates un service de qualité H24, 7jours/7. 
       Toutefois, nous ne garantissons pas que le fonctionnement du service 
       sera ininterrompu, exempt de toute erreur ou sûr. Nous ne garantissons 
       pas que le service sera conforme aux besoins des utilisateurs. Il
       appartient aux utilisateurs de s’assurer qu’ils ont effectivement 
       accès aux moyens techniques appropriés pour l’utilisation de nos 
       services."
    </p>
  </div>

</div>

