<div class='main-container'>

  <div class='top-info'>

    <div class='background-div main-description'>
      <h1>Because I worth it</h1>
      <a class="btn btn-gradient btn-blue" href="#">Want to find out ?</a>
    </div>

    <div class='background-div main-image'>
      <img src="https://cdn8.openculture.com/2019/05/01214221/schrodinger-e1556772151207.png" />
    </div>

  </div>

  <div class='background-div middle-info'>
  
    <div class='background-div results-area'>

      <div class='background-div numeric-results'>
        <p>Placeholder for numeric-results</p>
      </div>

      <div class='background-div buttons-area'>
        <div>
          <a class="btn btn-gradient btn-green" href="#">Export</a>
        </div>

        <div>
          <a class="btn btn-gradient btn-yellow" href="#">Seems Right?</a>
        </div>
      </div>

      <div class='background-div buttons-area'>
        <img src="https://docs.oracle.com/cd/E23943_01/bi.1111/b32122/img/curvedline_graph.gif" />
     </div>

    </div>

    <div class='background-divbackground-div filter-area'>
      <p>Placeholder for filter-area</p>
    </div>

  </div>

</div> 
