<div class='main-container'>

  <div class='background-div top-info'>

    <div class='background-div main-description'>
      <h1  style="margin-bottom: 40px">Because I worth it</h1>
      <a class="btn btn-gradient btn-blue" href="#">Want to find out ?</a>
    </div>

    <div class='background-div main-image'>
      <img src="https://cdn8.openculture.com/2019/05/01214221/schrodinger-e1556772151207.png" />
    </div>

  </div>

  <div class='background-div middle-info'>
  
    <div class='background-div results-area'>

      <div class='background-div numeric-results'>
        <div class='background-div nb-freelancers'>
          <p>Number of freelancers</p>
          <p>35 047</p>
        </div>

        <div class='background-div avg-day-rate'>
          <p>Average Day Rate</p>
          <p>653€</p>
        </div>
        
        <div class='background-div avg-seniority'>
          <p>Average Seniority</p>
          <p>4 years</p>
        </div>
      </div>

      <div class='background-div buttons-area'>

        <div class='background-div'>
          <a class="btn btn-gradient btn-green" href="#">Export</a>
        </div>

        <div class='background-div'>
          <a class="btn btn-gradient btn-yellow" href="#">Seems Right?</a>
        </div>
      </div>

      <div class='background-div buttons-area'>
        <img src="https://docs.oracle.com/cd/E23943_01/bi.1111/b32122/img/curvedline_graph.gif" />
     </div>

    </div>

    <div class='background-div filter-area'>
      <div class='background-div filter-element'>
        <h2>Placeholder for filter-area</h2>
      </div>
    </div>

  </div>

</div> 
