<%# mentions legales %>
<div id="main-container">
  <div>
    <h1>Mentions légales du site Erwinrates.fr</h1>
  </div>

  <div>
    <h3>Editeur</h3>

    <p>
    "Le site wwww.erwinrates.fr est édité par la société Le Wagon, ayant son siège social au 
    16 villa gaudelet - 75011 Paris.
    </p>

    <h3>Hébergeur</h3>

    <p>
    "Le site est hébergé par: "
    </p>
    <br>
    <p>
    "La société Amazon Web Services EMEA SARL ayant son siège social au 
    38 avenue John F.Kennedy, L-1855 99137 Luxembourg."
    </p>
    <br>
    <p>Numéro de SIRET: 83100133400018</p>
  </div>

</div>
