<%# politique de confidentialite %>

<div id="main-content">
  <section class="section1">
    <div class="ps-header-content-container-left"> 
      <div class="ps-header-content-container center">
        <div class="ps-header-content">
          <h1>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Politique de confidentialité </font>
            </font>
          </h1>
        </div>
      </div>
    </div>
  </section>

  <section class="section2">
    <div class="ps-text-inner">
      <p>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Erwin Rates ® s'engage à protéger votre vie privée. </font>
        </font>
      </p>

      <p>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">
          En conséquence, nous avons développé cette politique 
          afin que vous compreniez comment nous collectons, utilisons, 
          communiquons et divulguons et utilisons les informations personnelles.
          </font>

          <font style="vertical-align: inherit;">Ce qui suit décrit notre politique de confidentialité.</font>
        </font>
      </p>

      <p>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">
            Avant ou au moment de la collecte des informations personnelles, 
            nous identifierons les finalités pour lesquelles les informations 
            sont collectées.
          </font>
        </font>
      </p>

      <p>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">
             Nous collecterons et utiliserons les informations
             personnelles uniquement dans le but d'atteindre les 
             objectifs que nous avons spécifiés et à d'autres 
             fins compatibles.
          </font>
        </font>
      </p>

      <p>

        <font style="vertical-align: inherit;">

            Nous ne conserverons les informations personnelles 
            que le temps nécessaire à la réalisation de ces objectifs.

          <br>
            Nous protégerons les informations personnelles 
            par des mesures de sécurité raisonnables contre 
            la perte ou le vol, ainsi que contre l'accès, 
            la divulgation, la copie, l'utilisation ou la 
            modification non autorisés.
        
          <br>
            Nous pouvons modifier cette politique de confidentialité 
            de temps à autre, nous vous encourageons donc à la consulter 
            fréquemment.
          <br>
          <br>
            Si nous apportons des modifications importantes à la 
            politique de confidentialité, nous publierons un avis 
            sur notre site Web avant que ces modifications ne prennent 
            effet.
          
        </font>

      </p>

    </div>
    
  </section>
</div>