<div class="container">
  <h1>Donations</h1>
    
      <% @donations.each do |donation| %>
        <div class="d-flex flex-row">
          <ul class="">
            <li class="card-text px-1 py-0">Donation faite le <strong><%= donation.created_at.strftime('%m/%d/%Y') %></strong></li>
            <li class="card-text px-1 py-0">Montant : <%= donation.amount %></li>
            <li class="card-text px-1 py-0">Statut : <%= donation.state %></li>
          </ul>
        </div>
      <% end %> 
</div>