<div class="container">
  <div class="row mt-4 pt-4">
    <div class="col-4 col-md-4">
      <h2><strong>Vous croyez en notre projet, soutenez-nous 
      <br>pour l'améliorer ❤️ !</strong></h2>
      <div>
        <%= simple_form_for @donation do |f| %>
          <%= f.input :amount %>
          <%= submit_tag 'Don', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>  

