<h2 class='m-4 p-4'> Nous avons bien reçu votre donation de : <%= @donation.amount %>€</h2>
  
  <p class='m-7 p-4'>Merci infiniment pour votre participation. </p>
  <a href="mailto:hello@erwinrates.fr">hello@erwinrates.fr</a>.

  <div class='row'>
    <div class='col-xs-6'>
      <button class="btn btn-success"><%= link_to "HomePage", root_path %></button>
    </div>
  </div>