
<body class="rails-default-error-page">
  
  <div class="container">
    <div class="dialog">
      <div>
        <h1>Oupppps, cette page a disparue.</h1>
        <p>La page que vous recherchez a ete volee par Chuck Norris. On n'ose pas lui demander de la rendre ...</p>
        <img src="/assets/chuck.png" 
        width="600px" />
        <br>
        <br>
        <br>
        <br>
      </div>
      
    </div>
  </div>
</body>