#facts {
    padding: 80px 0 60px 0;
  }
  #facts .counters span {
    font-size: 48px;
    display: block;
  }
  #facts .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 14px;
  }
