#footer {
  padding: 30px 0;
  color: #F6F8FA;
  background-color: #03090D;
  font-size: 14px;
  bottom: 0px;
}
#footer .copyright {
  text-align: center;
}
#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
}

#footer .legal {
  text-align: center;
}
