li {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3px;
  border: none;
  background:#0756C3;
  padding: 2px;
}

li:hover {
  background-color: dodgerblue;
}