.select2-results {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3px;
  border: none;
  background:#0756C3;
  padding: 2px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background: dodgerblue;
}

.select2-selection_rendered {
  background: dodgerblue;
}

.landing-container .order-lg-2 {
    background-color:#0756C3;
    border: 1px
    solid #021E50;
    border-radius: 30px;
}

